body {background-color:aqua;
    background: url("weather.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  .font{font:italic small-caps bold 20px/2 cursive; font-size: 35px;}
  
  .sunny{
    animation-iteration-count: infinite;
    animation-name: twinkle-1;
    animation-duration: 1s;
    opacity: 0.5;
    width: 80px;
  }

   @keyframes twinkle-1 {
     50% {
       transform: scale(0.8);
       opacity: 0.5;
     }
   }
  
.text-center{color: white;}
  .image-fluid{background-image: url('http://i.imgur.com/tfXMQwm.jpg');
    background-position: center;
    width: 100%;
    text-align: center;
    opacity: 0.7;
    }

    .pb-4{padding-bottom: 10px;}

  
  
  
 